<div class="card">
  <div class="card-header">
  </div>
<div class="card-block">
  <h4 class="card-title">{{'DEMO_1_TITLE' | translate}}</h4>
  <div class="card">
    <img class="card-img-top" src="assets/images/demo/demo1.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{'DEMO_1_TITLE' | translate}}</h4>
      <p class="card-text">{{'DEMO_1_DESCRIPTION' | translate}}</p>
      <a href="assets/demo/skiing/index.html" class="btn btn-primary">{{'LEARN_MORE' | translate}}</a>
    </div>
  </div>
</div>
</card>