
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <!--<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand hidden-md-down hidden-sm-down hidden-xs-down" routerLink="">
    {{ 'LOGO' | translate }}
  </a>
  <a class="navbar-brand hidden-lg-up hidden-xl-up mr-auto" routerLink="./" style="margin-left: auto;margin-right: auto;">
    {{ 'LOGO' | translate }}
  </a>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./blog">
          {{ 'BLOG' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./demos"> 
          {{ 'DEMOS' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./about">
          {{ 'ABOUT' | translate }}
        </a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{{ 'SEARCH' | translate }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'SEARCH' | translate }}</button>
    </form>

  </div>
</nav>
